name: Update Jira Ticket Link

on:
  pull_request:
    types: [opened, edited]

jobs:
  update-jira-link:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Extract PR description
        id: extract-description
        run: |
          PR_DESCRIPTION=$(jq -r '.pull_request.body' "$GITHUB_EVENT_PATH")
          echo "PR_DESCRIPTION=$PR_DESCRIPTION" >> $GITHUB_ENV

      - name: Update Jira Ticket Link
        id: update-jira-link
        run: |
          DESCRIPTION="${{ steps.extract-description.outputs.description }}"
          JIRA_TICKET=$(echo "$DESCRIPTION" | sed -n '/## Jira Ticket/,/##/p' | sed '1d;$d' | xargs)
          echo "Extracted JIRA_TICKET: $JIRA_TICKET"
          if [[ $JIRA_TICKET == RFTDEV-* ]]; then
            echo "JIRA_TICKET matches the condition: $JIRA_TICKET"
            JIRA_LINK="https://kaseya.atlassian.net/browse/$JIRA_TICKET"
            UPDATED_DESCRIPTION=$(echo "$DESCRIPTION" | sed "s|$JIRA_TICKET|[$JIRA_TICKET]($JIRA_LINK)|")
            echo "updated_description=$UPDATED_DESCRIPTION" >> $GITHUB_ENV
          else
            echo "JIRA_TICKET does not match the condition"
            echo "updated_description=$DESCRIPTION" >> $GITHUB_ENV

      - name: Update PR description
        uses: peter-evans/repository-dispatch@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          event-type: update-pr-description
          client-payload: '{"pull_request_number": ${{ github.event.pull_request.number }}, "body": "${{ steps.update-jira-link.outputs.updated_description }}"}'
